body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body, h1{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1 {
    font-size: 35px;
    text-align: center;
    padding: 20px;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body,p {
    font-size: 20px;
    line-height: 1.5;
    color: rgb(19, 18, 18);
}
main {
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;
    padding: 20px;
}
.menu {
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    display: flex; 
    background: red;
}
header{
    width: 100%;
}
nav{
    margin: 20px auto;
    width: 90%;
    max-width: 1000px;
}
.menu li {
    position: relative;
}

.menu a {
    display: block;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
}
.logo-img{
    height: 80px;
    width: auto;
    margin-right: 20px;
    display: block;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%; 
    left: 0;
    background: red;
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 150px;
}

.submenu li a {
    padding: 10px;
    color: white;
    display: block;
}

.menu li:hover .submenu {
    display: block;
}
li a:hover {
  background-color: rgb(22, 77, 33);
}
main.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 30px;
  max-width: 2000px;
  margin: 0 auto;
}
div.gallery {
  width: 603px;
  box-sizing: border-box;
}

div.gallery:hover {
  border: 1px solid red;
}

div.gallery img {
  width: 600px;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
img{
    width: 650px;
    height: 600px;
    
}
body {
background-image: url("https://static.vecteezy.com/system/resources/previews/001/594/561/non_2x/nature-floral-green-background-free-vector.jpg");
background-repeat: no-repeat;
background-size: cover;
}
video {
    width: 440px;
    height: 280px;
    align-items: center;
    display: block;
    margin: auto;
}
footer {
    background-color: brown;
    text-align: center;
    clear: both;
    padding: 10px;
}
footer a{
    text-decoration: none;
    color: rgb(255, 254, 254);
}
footer p {
    color: white;
}
footer h2 {
    color: white;
}
footer h4 {
    color: white;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.content-foo h4, .content-foo p {
    margin: 5px;
    text-align: center;
}
ul{
    padding-left: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    width: 15px;
    height: 15px;
}
.translate{
    
    display: flex;
    justify-content: flex-end;
    width: 95%;
    margin: auto;
}
.idioma{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
    border: 1px solid rgb(219,219, 219);
    position: relative;
}
.idioma:hover{
    background-color: rgb(228, 228, 228);

}
.idiomas{
    position: absolute;
    top: 35px;
    display: flex;
    flex-direction: column;
    visibility: hidden;
}
.idiomas li{
    width: 100%;

}
.idiomas li a{
    display: block;
    padding: 10px;
    font-size: 10px;
    color: rgb(85, 85, 85);
}
.idiomas li a:hover{
    background-color: rgb(219, 219, 219);
}
.idiomas li img{
    border-radius: 50%;
}

.toggle{
    visibility: visible;
}

.info{
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;
    padding: 20px;
}
.info div{
    width: 30%;
    height: 4px;
    background-color: darkgreen;
}